<!-- BEGIN slider-wrp -->
<div class="slider-wrp">
	<!-- BEGIN main-slider -->
	<div class="main-slider js-main-slider">
		<div class="main-slider__item" style="background-image: url(img/sliders/slider-bg1.jpg)">
			<div class="inner">
				<div class="slogan">
					<div class="slogan__top">
						<img src="img/slogan-top.png" width="298" alt="">
					</div>
					<div class="slogan__body">
						<h1 class="slogan__title-h1">Collections</h1>
						<h2 class="slogan__title-h2">London <span>Street Style</span></h2>
					</div>
					<div class="slogan__meta">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</div>
				</div>
			</div>
		</div>
		<div class="main-slider__item" style="background-image: url(img/sliders/slider-bg1.jpg)">
			<div class="inner">
				<div class="slogan">
					<div class="slogan__top">
						<img src="img/slogan-top.png" width="298" alt="">
					</div>
					<div class="slogan__body">
						<h1 class="slogan__title-h1">Collections</h1>
						<h2 class="slogan__title-h2">London <span>Street Style</span></h2>
					</div>
					<div class="slogan__meta">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</div>
				</div>
			</div>
		</div>
		<div class="main-slider__item" style="background-image: url(img/sliders/slider-bg1.jpg)">
			<div class="inner">
				<div class="slogan">
					<div class="slogan__top">
						<img src="img/slogan-top.png" width="298" alt="">
					</div>
					<div class="slogan__body">
						<h1 class="slogan__title-h1">Collections</h1>
						<h2 class="slogan__title-h2">London <span>Street Style</span></h2>
					</div>
					<div class="slogan__meta">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</div>
				</div>
			</div>
		</div>
		<div class="main-slider__item" style="background-image: url(img/sliders/slider-bg1.jpg)">
			<div class="inner">
				<div class="slogan">
					<div class="slogan__top">
						<img src="img/slogan-top.png" width="298" alt="">
					</div>
					<div class="slogan__body">
						<h1 class="slogan__title-h1">Collections</h1>
						<h2 class="slogan__title-h2">London <span>Street Style</span></h2>
					</div>
					<div class="slogan__meta">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</div>
				</div>
			</div>
		</div>
		<div class="main-slider__item" style="background-image: url(img/sliders/slider-bg1.jpg)">
			<div class="inner">
				<div class="slogan">
					<div class="slogan__top">
						<img src="img/slogan-top.png" width="298" alt="">
					</div>
					<div class="slogan__body">
						<h1 class="slogan__title-h1">Collections</h1>
						<h2 class="slogan__title-h2">London <span>Street Style</span></h2>
					</div>
					<div class="slogan__meta">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</div>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="btn-main-slider btn-main-slider-prev js-main-slider-prev">
		{{mixins.icon('arrow-prev')}}
	</button>
	<button type="button" class="btn-main-slider btn-main-slider-next js-main-slider-next">
		{{mixins.icon('arrow-next')}}
	</button>
	<!-- END main-slider -->
	<!-- BEGIN progress -->
	<div class="progress">
		<div class="progress__bar"></div>
	</div>
	<!-- END progress -->
</div>
<!-- END slider-wrp -->