<!-- BEGIN footer -->
<footer class="footer">
	<!-- BEGIN footer__top -->
	<div class="footer__top">
		<!-- BEGIN inner -->
		<div class="inner">
			<div class="logo">
				<a href="#"><img src="img/logo-white.png" alt=""></a>
			</div>
			<div class="footer__desc">
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
				</p>
			</div>
			<div class="copy">
				&copy; 2015 èxe, All Right Reserved <span>ThemeFire</span>
				Only for <span>Envato Market</span>
			</div>
		</div>
		<!-- END inner -->
	</div>
	<!-- END footer__top -->
	<!-- BEGIN footer__bottom -->
	<div class="footer__bottom">
		<!-- BEGIN inner -->
		<div class="inner">
			<ul class="payments">
				<li class="payments__item"><a href="#">
					{{mixins.icon('paypal')}}
				</a></li>
				<li class="payments__item"><a href="#">
					{{mixins.icon('visa')}}
				</a></li>
				<li class="payments__item"><a href="#">
					{{mixins.icon('mastercard')}}
				</a></li>
				<li class="payments__item"><a href="#">
					{{mixins.icon('skrill')}}
				</a></li>
				<li class="payments__item"><a href="#">
					{{mixins.icon('payoneer')}}
				</a></li>
			</ul>
		</div>
		<!-- END inner -->
	</div>
	<!-- END footer__bottom -->
</footer>
<!-- END footer -->