.icon-arrow-left {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-categories {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mastercard {
  width: 1.54em;
  height: 1em;
  fill: initial;
}
.icon-payoneer {
  width: 2.83em;
  height: 1em;
  fill: initial;
}
.icon-paypal {
  width: 3.29em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-skrill {
  width: 1.91em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-visa {
  width: 3.1em;
  height: 1em;
  fill: initial;
}
